.nav-contianer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    box-shadow: 1px 1px 1px #000000; 
    position: fixed;  /* Make the navbar fixed */
    top: 0;  /* Stick to the top of the viewport */
    left: 0;  /* Align to the left of the page */
    right: 0;  /* Ensure it spans the full width */
    z-index: 1000;  /* Ensure the navbar stays on top of other content */
    width: 100%; /* Ensure it spans the full width of the page */
    padding: 1px 0; /* Adjust padding as necessary */

}

.brand {
    color: #FFFFFF;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    min-width: max-content;
    padding: 10px 20px;
   
}
.brand a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.scroll-mobile-nav {
    background-color: #121212;

}

div.scroll-mobile-nav {
    background-color: #121212;
    overflow: auto;
    white-space: nowrap;
}


div.scroll-mobile-nav a {
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding-top: 14px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 8px;
    text-decoration: none;
}

div.scroll-mobile-nav a:hover {
    background-color: #9A031E;
}

/* width */
.scroll-mobile-nav::-webkit-scrollbar {
    height: 5px;
}

/* Track */
.scroll-mobile-nav::-webkit-scrollbar-track {
    box-shadow: #E2E8CE;
    border-radius: 2px;
}

/* Handle */
.scroll-mobile-nav::-webkit-scrollbar-thumb {
    background: #9A031E;
    border-radius: 2px;
}

/* Handle on hover */
.scroll-mobile-nav::-webkit-scrollbar-thumb:hover {
    background: #E2E8CE;

}